<% layout("/layouts/boilerplate.ejs") -%>
<div class="row">
    <div class="col-12 col-md-8 offset-2">
                                              
        <h3>Create new listing</h3>
        <form method="post" action="/listings/">
            <div class="mb-3">
                <label for="title" class="form-label">Title
                    <input name="listing[title]" placeholder="add catchy title" type="text" class="form-control" >    
                </label>                                                                                                
            </div>
        
            <div class="mb-3">
                <label for="description" class="form-label">Description
                    <textarea name="listing[description]" class="form-control"></textarea>
                </label>
            </div>
            
            <div class="mb-3">
                <label for="image" class="form-label">Image
                <input name="listing[image]" placeholder="enter image url" class="form-control">

            </div>
            
            <div class="mb-3">      
                <label for="price" class="form-label">Price
                <input name="listing[price]" placeholder=" 1200 " class="form-control">

            </div>
            <div class="row ">
                <div class="mb-3 col-4">
                    <label for="location" class="form-label">Location
                    <input name="listing[location]" placeholder="jaipur,Himachal" class="form-control">
                </div>
                
                <div class="mb-3 col-md-8">Country
                    <label for="country" class="form-label">
                    <input name="listing[country]" placeholder="India" class="form-control">
    
                </div>
            </div>
            
            
            <button class="btn btn-dark">
                Add
            </button>
            <br><br>
        </form>
    </div>
</div>